[submodule "third_party/efsw"]
	path = third_party/efsw
	url = git@github.com:bloomen/efsw.git
[submodule "third_party/PlatformFolders"]
	path = third_party/PlatformFolders
	url = git@github.com:sago007/PlatformFolders.git
[submodule "third_party/served"]
	path = third_party/served
	url = git@github.com:bloomen/served.git
[submodule "third_party/restclient-cpp"]
	path = third_party/restclient-cpp
	url = git@github.com:bloomen/restclient-cpp.git
[submodule "third_party/conan.cmake"]
	path = third_party/conan.cmake
	url = git@github.com:bloomen/cmake-conan.git
[submodule "third_party/Format.cmake"]
	path = third_party/Format.cmake
	url = git@github.com:bloomen/Format.cmake.git
